body {
  font-family: 'Open Sans', sans-serif;
}

.form-signin {
  max-width: 430px;
  padding: 15px;
  margin: 0 auto;
}

.form-signin .form-signin-heading {
  font-size: 16pt;
}

.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.not-authed,
.authed {
  text-align: center;
}

.not-authed {
  color: #f45656;
}

.authed {
  color: #5cb85c;
}

.not-authed i,
.authed i {
  font-size: 300px;
}

.not-authed h2,
.authed h2 {
  margin-top: 0;
}

.footer {
  text-align: center;
  margin-top: 20px;
  font-size: smaller;
  color: #a0a0a0;
}